.loginForm {
  position: relative;
  background: rgb(255 255 255);
  border-radius: 1em;
  border: 0.5px solid lightblue;
  width: 50%;
  margin: 8vh auto;
  z-index: 2;
}

.form-head {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 1em auto;
}

.form-head img {
  width: 60px;
}

.timesFont {
  font-size: 1.3em;
  color: lightblue;
  font-weight: lighter;
}

.form-head h3 {
  align-self: flex-end;
}

.form {
  width: 60%;
  margin: 2em auto;
}

.form-control {
  margin: 2em 0;
}

.form input {
  width: 100%;
  padding: 1em;
}

.form button {
  display: block;
  width: 100%;
  padding: 1em;
  border-radius: 3px;
  color: rgb(255 255 255 / 0.9);
  background: #0a1149;
  margin-top: 10vh;
  border: 0;
  cursor: pointer;
}
