<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>File Uploading</title>
</head>
<link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />

<body>
	<h1>To Upload File on mongoDB</h1>
	<hr>
	<div>
		<form action="/" method="POST" enctype="multipart/form-data">
			<div>
				<label for="name">File Title</label>
				<input type="text" id="name" placeholder="Name"
					value="" name="name" required>
			</div>
			<div>
				<label for="desc">File Description</label>
				<textarea id="desc" name="desc" value="" rows="2"
						placeholder="Description" required>
				</textarea>
			</div>
			<div>
				<label for="image">Upload File</label>
				<input type="file" id="image"
					name="image" value="" required>
			</div>
			<div>
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>

		
	</div>
</body>

</html>
