.bg {
  width: 75%;
  height: 96vh;
  border: 2px solid lightblue;
  box-shadow: -5px 0px 10px -5px #111;
  border-radius: 0 0 1em 0;
  position: relative;
}

.motto {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5em 0.2em;
  border-left: 2px solid blue;
  border-bottom: 2px solid blue;
  color: rgb(255 255 255/0.9);
  border-radius: 0 0 0 60%;
  background: #0a1149;
}

.motto h3 {
  text-align: center;
}

.motto p {
  text-align: right;
  padding-right: 1em;
}
