   <!-- Footer Section -->
  <footer>
	<div class="container">
	  <div class="row">
		<div class="col-lg-4">
		  <div class="column">
			<ul>
			  <li class="title"><img src="assets/img/logo-footer.png" class="logo-footer"  alt="Eventsinvest logo"></li>
			</ul>
		  </div>
		</div>
		<div class="col-lg-2">
		  <div class="column">
			<ul>
			  <li class="title">Quick Links</li>
			  <li><a href="/">Home</a></li>
			  <li><a href="/about">About Us</a></li>
			  <li><a href="/contact">Contact</a></li>
			  <li><a href="/signup">Sign Up</a></li>
			</ul>
		  </div>
		</div>
		<div class="col-lg-3">
		  <div class="column">
			<ul>
			  <li class="title">Resources</li>
			  <li><a href="/privacy">Privacy Policy</a></li>
			  <li><a href="/terms">Terms & Conditions</a></li>
			  <li><a href="/faq">FAQs</a></li>
			  <li><a href="/investment">Investment</a></li>
			</ul>
		  </div>
		</div>
		<div class="col-lg-3">
		  <div class="column">
			<ul>
			  <li class="title">Social Media Links</li>
			  <li>
				<a href="#"><i class="fab fa-facebook"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-linkedin"></i></a>
			  </li>
			</ul>
		  </div>
		</div>
	  </div>
	</div>
  </footer>
  <div class="sub-footer">
	Copyright © 2021. EventsInvest.co A Product of Optimus Global Concepts & Innovations Limited. All Rights Reserved
  </div>
  <!-- Footer Section Ends -->


  <!-- JS Section -->
  <script src="assets/js/bootstrap.min.js"></script>
  <!--Scroll In Animation-->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>AOS.init();</script>
</body>
</html>