<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Events Invest">
        <meta name="keywords" content="Events Invest">
        <!-- Webpage Title -->
        <title>Event</title>
        <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
        <!-- All Stylesheet -->
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
        <!--Google Font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <!--Scroll In Animation-->
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />    
        <!--JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="assets/js/main.js"></script>
   </head>

    <body>
        <!-- Navbar Section Starts-->
        <nav class="navbar navbar-expand-lg fixed-top" id="header-scroll">
            <div class="container g-0">
              <a class="navbar-brand" href="/">
                  <img src="assets/img/logo.png" width="110px" alt="Eventsinvest.io logo">
              </a>
              <button class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <i class="fas fa-bars"></i>
              </button>
              <div class="offcanvas offcanvas-end" tabindex="-100" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                  <button type="button" class="btn-close text-reset text-right" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/investment">Investments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faq">FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                  </ul>
                  <div class="nav-div-button" style="margin-right: 7px; margin-bottom: 20px;">
                    <a class="btn-login" href="/login">
                      Login
                    </a>
                  </div>
                  <div class="nav-div-button dropdown" style="margin-right: 7px; margin-bottom: 20px;">
                    <a class="dropdown-toggle btn-donation" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Sign Up
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="/signup">Sign Up Investor</a></li>
                      <li><a class="dropdown-item" href="/signup-organizer">Sign Up Organiser</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </nav>
        <!-- Navbar Section Ends-->